.main-header .custom-sidebar-toggle{
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
}
.login-box, .register-box{
    margin: 0 auto !important;
   
}
.login-page, .register-page{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-logo, .register-logo{
    margin-bottom: 15px !important;
}
.main-sidebar{
    background: black;
}
.main-header{
    background: black;
}
li,a,span,h3{
    color: white;
}
.bg-white{
    background: white;
}
.display-inline-block{
    display: inline-block;
}
.mx-15{
    margin-right: 15px !important;
    margin-left: 15px !important;
}
.mt-15{
    margin-top: 15px;
}
.pxy-15{
    padding: 15px;
}
.mb-3{
    margin-bottom: 3px;
}
.px-10{
    padding: 7px 12px;
}
.mr-10{
    margin-right: 10px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.display-flex{
    display: flex;
}
.justify-content-end{
    justify-content: flex-end;
}
.bg-36c6d3{
    background: #36c6d3;
}
.color-white{
    color: white;
}
.btn-primary{
    background: #007bff !important;
}
.bg-fbfcfd{
    background: #FBFCFD;
}
.color-AFAFAF{
    color: #AFAFAF;
}
.child:nth-child(odd){
    background: #FBFCFD;
}
.child:nth-child(even){
    background: rgba(0,0,0,.05);
}
.mb-0{
    margin-bottom: 0px !important;
}
.color-337ab7{
    color: #337ab7;
}
.bg-dc3545{
    background: #dc3545;
}
.font-size-15{
    font-size: 15px;
}
.vertical-align-middle{
    vertical-align: middle !important;
}
.widget{
    padding: 10px 15px 15px 15px;
}
h4{
    font-size: 24px;
}
.widget h4{
    border-bottom: 1px solid rgba(1,1,1,0.1);
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-top: 4px;
}
input{
    border-radius: 5px !important;
}
select{
    border-radius: 5px !important;
}
.form-control{
    border-radius:  5px !important;
}
label{
    font-weight: inherit !important;
}
.mr-30{
    margin-right: 30px;
}
.mt-20{
    margin-top: 20px;
}
.custom-opera{
    display: inline-block;
    width: 70px;
    height: 40px;
    color: white;
    margin: 10px;
}
.child td {
    font-size: 16px !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 6px !important;
}
.user-header p{
    color: black !important;
}